.start-adventure {
    color: white;
    margin: 0;
    font-size: 14px;
    float: left;
    font-weight: bold;
}

.time-left {
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.time-left-banner {
    position: fixed;
    background-color: #262262 !important;
    height: 40px;
    width: 100%;
    top: 60px;
    z-index: 1000;
}