.start-adventure {
    color: white;
    margin: 0;
    font-size: 14px;
    float: left;
}

.time-left {
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.time-left-banner {
    position: fixed;
    background-color: black;
    padding: 10px;
    width: 100%;
    top: 60px;
    z-index: 1000;
}

.progress-timer {
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 1000;
}